


body{
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-image: conic-gradient(from 90deg at bottom right, cyan, rebeccapurple);

}

header,footer{
    width: 100vw;
}

header{
    display: flex;
    align-items: center;
    background-color: rgb(10, 12, 45);
    color: white;
    margin-bottom: 2em;
}

header img{
    max-width: 250px;
    padding: 1em;
}

header h2{
    font-size: 250%;
}

.stickynav{
    flex-basis: 20%;

}

main{
    flex-basis: 65%;
}

.stickynav ul{
    position: sticky;
    top: 50px;
    list-style-type: none;
    width: 90%;
}

/* nav li + li{
    margin-bottom: 1em;
} */

.stickynav a{
    display: block;
    background-color: rgb(10, 12, 45);
    color: white;
    text-decoration: none;
    padding: 1em .5em;
    border: 2px ridge white;
    border-radius: 10px;
    transition: ease-in-out 300ms;
}

.stickynav a:hover{
    background-color: white;
    color: black;
}

article{
    margin-bottom: 2em;
}


.videowrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
    margin: 0 auto;
    border: 6px ridge #808080;
}
.videowrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

footer{
    padding: 2em 0 ;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(10, 12, 45);
    color: white;
}

/* Media Queries */
@media (max-width: 600px){
    .stickynav{
        display: none;
    }

    header{
        flex-direction: column;

    }

    header h2{
        text-align: center;
    }

    main{
        flex-basis: 100%;
    }

    .videowrapper{
        border: none;
    }
}